.container{
    border:1px solid green;
    width: 75%;
    margin:0 auto;
    text-align: center;
}
.flex-blackjack-row-1,.flex-blackjack-row-2{
    color:#cc5757;
    background:url('background.jpg') center;
}
.flex-blackjack-row-1,.flex-blackjack-row-2,.flex-blackjack-row-3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border:1px solid black;
    padding: 20px;

}
table, th, td{
    padding: 5px;
    border: 1px solid black;
}
.flex-blackjack-row-2 div{
    border:1px solid black;
    padding: 10px;
}
.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}
.flex-blackjack-row-2 button{
    border:1px solid black;
    padding: 10px;
}
.flex-blackjack-row-1 div {
    border:1px solid black;
    padding: 10px;
    flex:1;
    text-align: center;
    height: 350px;
}
